.floorplan-container{
  background-color: #EAF4F4;
    display: grid;
    grid-template-columns: 65% 20%;
    grid-gap: 10px;
    justify-content: center;
    grid-template-areas:
    "header header"
     "content sidebar"
}


#message {
  color: black;
}

.main-head {
    grid-area: header;
    background-color: #cadae9;
    border: solid 4px #4b647c;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    color: black;
    box-shadow: 1px 4px 2px 4px #888888;
    width: 100%;
  }

  .content {
    grid-area: content;
    border: solid;
    padding: 10px;
    border-width: 4px;
    border-color: #4f6b5f;
    max-width: 100%;
    box-shadow: 1px 4px 2px 4px #888888;
  }

  .side {
    grid-area: sidebar;
    border: solid #4f6b5f;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 700px;
    justify-content: center;
    box-shadow: 1px 4px 2px 4px #888888;
  }


  @media only screen and (max-width: 500px) {
    .floorplan-container {
      margin-top: 0px;
      display: grid;
      grid-gap: 7px;
      grid-template-areas:
        "header  header"
        "content content"
        "sidebar sidebar"
        "footer footer";
      }

      .main-head{
        font-size: smaller;
        width: 100%;
        margin-top: 0px;
      }
    }

    @media only screen and (max-width: 1400px) {
      .floorplan-container {
        margin-top: 0px;
        grid-gap: 7px;
        grid-template-areas:
          "header header header"
          "content content content"
          "sidebar sidebar sidebar"
          "footer footer footer";
       };
  
       .content {
        max-width: 100%;
        justify-content: center;
      }
  
      .main-head{
        font-size: smaller;
        width: 100%;
      }


      }