.tabs-background{
    background-color: #4b647c;
}

.tabs-background a{
    color: white;
}

.tabs-background a:hover{
   color: white
}

.single-tab {
    border-top: solid;
    border-width: 20px;
    border-color: white;
}

.single-tab button:hover {
    background-color: rgb(40, 64, 83);
    transition: 0.5s;
}


.single-tab-insert input{
    width: 50%;
    text-align: center;
    height: 40px;
    margin: auto;
    display: block;
    border: solid;
    border-color:black;
    border-width: 1px;
}

.single-tab button{
    background-color: #4b647c;
    border-color: black;
    border-width: 1px;
    width: 30%;
    height: 50px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.single-tab h2{
    padding-top: 30px;
}

.single-tab-insert select{
    width: 50%;
    text-align: center;
    height: 40px;
    margin: auto;
    display: block;
    border: solid;
    border-color:black;
    border-width: 1px;
}


.single-tab-update select{
    width: 50%;
    height: 40px;
    margin: auto;
    display: block;
    border: solid;
    border-color:black;
    border-width: 1px;
}

.single-tab-update input{
    width: 50%;
    height: 40px;
    margin: auto;
    display: block;
    border: solid;
    border-color:black;
    border-width: 1px;
}

