.border {
  border: solid;
  border-width: 5px;
  border-color: white;
}

.btn.btn-success:active,
.btn-success:focus {
  background-color: #4b647c !important;
  outline: none !important;
  box-shadow: none !important;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recaptcha {
  margin-bottom: 16px;
}
