.navbar {
    background-color: #010107;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: #010107;
    width: 270px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    border-right: solid;
    border-width: 2px;
    border-color: #acb9b4;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
    font-size: 30px;
    text-decoration: none;
}

.nav-text p {
    color: #f5f5f5;
    font-size: x-large;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text p:hover {
    background-color: #A4C3B2;
    color: black;
    transition: 0.3s;
}

.nav-menu-items{
    width: 100%;
}

.navbar-toggle {
 background-color: #010107;
 width: 100%;
 height: 80px;
 display: flex;
 justify-content: flex-start;
 align-items: center;
}

p {
    margin-left: 16px;
    margin-top: 10px;
}

.sideLogout :hover{
  cursor: pointer;
}

.head-logo{
    height: 45px;
    margin-left: 5px;
    margin-bottom: 11px;
}

.icon{
    color: #eaf4f4;
    margin-bottom: 13px;
}

.nav-text:hover{
    text-decoration: none;
}

.sideLogout :hover{
  cursor: pointer;
}

.title{
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    .head-logo {
      display: none;
    }

    .title {
        display: none;
    }
   
  }
  
@media screen and (max-width: 700px) {
    .head-logo {
      display: none;
     }

    .title {
        display: none;
    } 
    }
